<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href=" ">
  <title>NONE</title>

  <!-- Bootstrap core CSS -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="assets/css/custom.css" rel="stylesheet">

  <!-- Helper Styles -->
  <link href="assets/css/loaders.css" rel="stylesheet">
  <link href="assets/css/swiper.min.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/animate.min.css">
  <link rel="stylesheet" href="assets/css/nivo-lightbox.css">
  <link rel="stylesheet" href="assets/css/nivo_themes/default/default.css">
  <script src="assets/js/vue.js"></script>


</head>

<body>
  <!-- Top Navigation -->
  <nav class="navbar navbar-toggleable-md mb-4 top-bar navbar-static-top sps sps--abv">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarCollapse1" aria-controls="navbarCollapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><img src="./assets/img/equal.png"> </span> </button> <a class="navbar-brand"
        href="#">DIET<span>out</span></a>
      <div class="collapse navbar-collapse" id="navbarCollapse1">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#myCarousel">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#introduction">Introduction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#bmr-calc">Calculation</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#team">About us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Swiper Silder
    ================================================== -->
  <!-- Slider main container -->
  <div class="swiper-container main-slider" id="myCarousel">
    <div class="swiper-wrapper">
      <div class="swiper-slide slider-bg-position" style="background:url('assets/img/1.jpg')" data-hash="slide1">
        <h2>It is health that is real wealth and not pieces of gold and silver</h2>
      </div>
      <div class="swiper-slide slider-bg-position" style="background:url('assets/img/2.jpg')" data-hash="slide2">
        <h2>Happiness is nothing more than good health and a bad memory</h2>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Navigation -->
    <div class="swiper-button-prev"><-</div>
    <div class="swiper-button-next">-></div>
  </div>

  <!-- INTRODUCTION SECTION
    ================================================== -->
  <section class="introduction-sec parallax-section" id="introduction">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h2><small>Who We Are</small>About<br>
            Our Blog</h2>
        </div>
        <div class="col-md-4">
          <p>To enjoy good health, to bring true happiness to one's family, to bring peace to all, one must
            first discipline and control one's own mind. If a man can control his mind he can find the way
            to Enlightenment, and all wisdom and virtue will naturally come to him.</p>
          <p>Our greatest happiness does not depend on the condition of life in which chance has placed us,
            but is always the result of a good conscience, good health, occupation, and freedom in all just
            pursuits.</p>s
          <p>Saving our planet, lifting people out of poverty, advancing economic growth... these are one and
            the same fight. We must connect the dots between climate change, water scarcity, energy
            shortages, global health, food security and women's empowerment. Solutions to one problem must
            be solutions for all.</p>
        </div>
        <div class="col-md-4">
          <p>Our greatest happiness does not depend on the condition of life in which chance has placed us,
            but is always the result of a good conscience, good health, occupation, and freedom in all just
            pursuits.</p>
          <p>Our greatest happiness does not depend on the condition of life in which chance has placed us,
            but is always the result of a good conscience, good health, occupation, and freedom in all just
            pursuits.</p>
          <p>Being in control of your life and having realistic expectations about your day-to-day challenges
            are the keys to stress management, which is perhaps the most important ingredient to living a
            happy, healthy and rewarding life.</p>
          <p><a href="#" class="btn btn-capsul">Explore More</a></p>
        </div>
      </div>
    </div>
  </section>

  <!-- GALLERY SECTION
    ================================================== -->
  <section class="gallery-sec" id="gallery">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="heading text-md-center text-xs-center">
            <h2><small>Stroy Through Images</small>Food Image Gallery</h2>
          </div>
        </div>
        <div class="col-md-12">
          <!-- iso section -->
          <div class="iso-section text-md-center text-xs-center" data-wow-delay="0.5">
            <ul class="filter-wrapper clearfix">
              <li><a href="#" data-filter="*" class="selected opc-main-bg">All</a></li>
              <li><a href="#" class="opc-main-bg" data-filter=".karbo">Karbohidrat</a></li>
              <li><a href="#" class="opc-main-bg" data-filter=".protein">Protein</a></li>
              <li><a href="#" class="opc-main-bg" data-filter=".lemak">Lemak</a></li>
            </ul>

            <!-- iso box section -->
            <div class="iso-box-section wow fadeInUp" data-wow-delay="0.9s">
              <div class="iso-box-wrapper col4-iso-box">
                <div class="iso-box karbo col-md-4 col-sm-6">
                  <div class="gallery-thumb">
                    <a href="assets/img/pic1.jpg" data-lightbox-gallery="food-gallery">
                      <img src="assets/img/pic1.jpg" class="fluid-img" alt="Gallery">
                      <div class="gallery-overlay">
                        <div class="gallery-item"> </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="iso-box karbo col-md-4 col-sm-6">
                  <div class="gallery-thumb">
                    <a href="assets/img/pic2.jpg" data-lightbox-gallery="food-gallery">
                      <img src="assets/img/pic2.jpg" class="fluid-img" alt="Gallery">
                      <div class="gallery-overlay">
                        <div class="gallery-item"> </div>
                      </div>
                    </a>
                  </div>
                </div>

                <div class="iso-box karbo col-md-4 col-sm-6">
                  <div class="gallery-thumb">
                    <a href="assets/img/pic3.jpg" data-lightbox-gallery="food-gallery">
                      <img src="assets/img/pic3.jpg" class="fluid-img" alt="Gallery">
                      <div class="gallery-overlay">
                        <div class="gallery-item"> </div>
                      </div>
                    </a>
                  </div>
                </div>

                <div class="iso-box karbo col-md-4 col-sm-6">
                  <div class="gallery-thumb">
                    <a href="assets/img/pic4.png" data-lightbox-gallery="food-gallery">
                      <img src="assets/img/pic4.png" class="fluid-img" alt="Gallery">
                      <div class="gallery-overlay">
                        <div class="gallery-item"> </div>
                      </div>
                    </a>
                  </div>
                </div>


                <div class="iso-box karbo col-md-4 col-sm-6">
                  <div class="gallery-thumb">
                    <a href="assets/img/pic6.png" data-lightbox-gallery="food-gallery">
                      <img src="assets/img/pic6.png" class="fluid-img" alt="Gallery">
                      <div class="gallery-overlay">
                        <div class="gallery-item"> </div>
                      </div>
                    </a>
                  </div>
                </div>

                <div class="iso-box protein col-md-4 col-sm-6">
                  <div class="gallery-thumb">
                    <a href="assets/img/pic8.png" data-lightbox-gallery="food-gallery">
                      <img src="assets/img/pic8.png" class="fluid-img" alt="Gallery">
                      <div class="gallery-overlay">
                        <div class="gallery-item"> </div>
                      </div>
                    </a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="calculation-sec" id="bmr-calc">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="heading text-md-center text-xs-center">
            <h2>BMR-Kalkulator<br><small>Basal Metabolic Rate With <b>Mifflin - St Jeor Formula</b></small></h2>
          </div>
        </div>
        <div class="col-md-5">
          <div class="bmr-calc" style="height:100%">
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-4 col-form-label">Jenis Kelamin</label>
              <div class="col-sm-8">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-primary" :class="{ active: gender=='L'}"
                    @click="gender = 'L'">Laki-Laki</button>
                  <button type="button" class="btn btn-primary" :class="{ active: gender=='P'}"
                    @click="gender = 'P'">Perempuan</button>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-4 col-form-label">Berat Badan</label>
              <div class="col-sm-8">
                <div class="input-group">
                  <input type="number" min="10" max="199" v-model.number="berat" class="form-control">
                  <div class="input-group-append">
                    <div class="input-group-text1">kg</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-4 col-form-label">Tinggi</label>
              <div class="col-sm-8">
                <div class="input-group">
                  <input type="number" min="50" max="250" v-model.number="tinggi" class="form-control">
                  <div class="input-group-append">
                    <div class="input-group-text1">cm</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-4 col-form-label">Umur</label>
              <div class="col-sm-8">
                <input type="number" min="1" max="120" v-model.number="umur" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-4 col-form-label">Fisik</label>
              <div class="col-sm-8">
                <input type="range" min="0" max="4" v-model.number="fisik" class="form-control">
                <p>{{ fisikTeks[fisik] }}</p>
              </div>
            </div>

            <h2 class="text-center text-white">{{ hitung() }} kkal </h2>
          </div>

        </div>


        <div class="col-md-7" style="background-color: white; text-align: justify;">
          <p>
            Pada umumnya tubuh kita memerlukan batas minimum kalori yang harus dipenuhi setiap hari untuk menjaga berat
            badan kita. Kalkulator ini akan membantu anda untuk memperkirakan berapa kalori makanan yang anda perlukan
            setiap hari untuk menjaga berat badan tubuh anda agar tidak mengalami penurunan berat badan.
            <br>Perhitungan kalkulator kalori juga akan membantu anda untuk melakukan diet secara sehat apabila anda
            menginginkan penurunan berat badan. Kalkulator kalori dibawah ini juga akan membantu anda untuk
            memperkirakan berapa kalori makanan yang anda perlukan untuk mencapai target berat yang anda inginkan.
            <br>Kami menggunakan rumus perhitungan dari <b>Mifflin – St Jeor</b> sebagai formula . formula ini sering
            digunakan oleh pakar ahli gizi untuk memperhitungkan kalori ideal yang diperlukan oleh tubuh.
          </p>
          <br>
          <p>Kalori yg diperlukan untuk berat badan sekarang <b>{{ hitung() }} kkal</b> kalori / hari.
            <br>
            Kalori untuk menurunkan berat badan <b>(({{ hitung() }})+10) kkal</b> kalori / hari.
            <br>
            Kalori untuk menurunkan berat badan secara drastis 1518 kalori / hari.
          </p>
        </div>

        <!-- CALCULATION SECTION (KALORI PER DAY CALCULATOR)
    ================================================== -->
      </div>
  </section>

  <script>
    new Vue({
      el: "#bmr-calc",
      data: {
        gender: "L",
        berat: 30,
        tinggi: 120,
        umur: 20,
        fisik: 1,
        fisikTeks: [
          "Sangat jarang berolahraga, sehari-hari bekerja dibelakang meja",
          "Jarang berolahraga , 1-3 hari dalam seminggu",
          "Cukup sering berolahraga, 3-5 hari dalam seminggu",
          "Sering berolahraga, 6-7 hari dalam seminggu",
          "Sangat sering / seharian berolahraga , sehari-hari bekerja fisik",
        ],
        hitung: function () {
          return (10 * this.berat + 6.25 * this.tinggi - 5 * this.umur + (this.gender == "L" ? 5 : -161) + 100 *
            this.fisik)
        }
      },
      methods: {

      }
    })
  </script>

  <section class="calculation-sec" id="daily-calc">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="heading text-md-center m-5">
            <h2>Apakah Kebutuhan Kalori mu Hari ini Tercukupi ?</h2>
          </div>
        </div>
        <div class="col-md-5" style="background-color: #00b894; padding: 30px;border: 10px double black;">
          <div class="row">
            <div class="col-md-12 my-2" v-for="(bag, bi) in bagian">
              <div class="card">
                <div class="card-body">
                  <div class="card-title d-flex">
                    <span>{{bag.judul}}</span>
                    <button class="ml-auto btn btn-primary" @click="input.bagian = bi" data-toggle="modal"
                      data-target="#addFoodModal">+</button>
                  </div>
                  <div class="list-group">
                    <div class="list-group-item" v-for="bit in bagian[bi].menu">
                      {{ bit.Nama }}
                      <span v-for="bita in bit.Tambahan" class="text-muted">
                        + {{ bita.Nama }}
                      </span>

                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-md-12 mt-3">
            <h2 class="text-center text-white">{{ total.Kalori }} kkal </h2>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="addFoodModal" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="addFoodModalLabel">Menu</h5>
                    <button type="button" class="close" data-dismiss="modal">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="btn-group" v-if="input.kelompok == null">
                      <button class="btn btn-success" v-for="(v,k) in makanan"
                        @click="input.kelompok = k">{{k}}</button>
                    </div>
                    <div class="btn-group" v-else-if="input.item == -1">
                      <button class="btn btn-success" v-for="(m, mi) in makanan[input.kelompok]"
                        @click="input.item = mi;if (!m.Tambahan) pushMenu()">{{m.Nama}}</button>
                    </div>
                    <div v-else>
                      <div class="btn-group" v-for="item in [makanan[input.kelompok][input.item]]">
                        <button class="btn btn-success" v-for="(t, ti) in item.Tambahan"
                          :class="{active: !!input.toppings[ti]}" @click="setTopping(ti)">{{t.Nama}}</button>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                      @click="pushMenu()">Tambahkan</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-plus" aria-hidden="true"></i>
              <h3><b>Ringkasan</b></h3>
              <p>Sisa Kalori = 0 kkal<br>
                Konsumsi Kalori total = {{ total.Kalori }}<br>
                0% dari AKG = 2500 kkal<br>
                <hr>
              </p>
            </div>
            <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-leaf" aria-hidden="true"></i>
              <h3><b>Karbohidrat</b></h3>
              <p>Karbohidrat total = {{ total.Karbo }}</p>
            </div>
            <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-leaf" aria-hidden="true"></i>
              <h3><b>Protein</b></h3>
              <p>Protein total = {{ total.Protein }}</p>
            </div>
            <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-bell" aria-hidden="true"></i>
              <h3><b>Lemak</b></h3>
              <p>Lemak total = {{ total.Lemak }}</p>
            </div>
          </div>
        </div>
      </div>
  </section>

  <!-- CONCLUSION SECTION
    ==========  ======================================== -->
  <script>
    let daily = new Vue({
      el: "#daily-calc",
      data: {
        bagian: ["Pagi", "Siang", "Malam"].map((x) => {
          return {
            judul: x,
            menu: [],
          }
        }),
        total: {
          "Kalori": 0,
          "Lemak": 0,
          "Karbo": 0,
          "Protein": 0,
        },
        makanan: {},
        input: {
          bagian: 0,
          kelompok: null,
          item: -1,
          toppings: {},
        }
      },
      methods: {
        setTopping: function (i) {
          this.$set(this.input.toppings, i, !this.input.toppings[i]);
        },
        pushMenu: function () {

          let ss = JSON.stringify(this.makanan[this.input.kelompok][this.input.item]);
          // console.log(ss);
          let mkn = JSON.parse(ss);
          if (mkn.Tambahan) {
              mkn.Tambahan = mkn.Tambahan.filter((v, i) => !!this.input.toppings[i]);
            ["Kalori", "Lemak", "Karbo", "Protein"].forEach(el => {
              this.total[el] += mkn[el] + mkn.Tambahan.map(x => x[el]).reduce((a, b) => a + b, 0)
            })
          } else {
            ["Kalori", "Lemak", "Karbo", "Protein"].forEach(el => {
              this.total[el] += mkn[el]
            })
          }
          this.bagian[this.input.bagian].menu.push(mkn);
          this.input = {
            bagian: 0,
            kelompok: null,
            item: -1,
            toppings: {},
          };
          $('#addFoodModal').modal('hide')
        }
      }
    })

    fetch("https://erfiandanuri80.github.io/FAST/makanan.json")
      .then((res) => res.json())
      .then((res) => daily.makanan = res);
  </script>

  <section class="conclusion-sec parallax-section" id="conclusion">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h2><small>HASIL</small><br>KESIMPULAN<br>
          </h2>
        </div>
        <div class="col-md-9">
          <p>

            Perlu diingat apabila kalori yang didapat tubuh kurang dari 1000-1200 untuk wanita dan 1300-1500 kalori
            untuk pria dapat menimbulkan perusakan tubuh dalam bentuk penurunan berat badan yang menyebabkan tubuh anda
            berusaha mejaga berat badan secara automatis dengan cara mengurangi metabolisme yang terjadi di dalam tubuh.

            Kondisi ini di dalam dunia kedokteran biasa disebut dengan 'starvation mode' / 'kelaparan' ini pada umumnya
            adalah reaksi natural yang dikarenakan kurang nya kalori yang masuk ke tubuh. Oleh karena itu sangat
            disarankan jangan memakan kurang dari batas kalori tersebut perharinya tanpa saran dari dokter anda.

            Apabila kalkulator diatas memberikan anda angka tersebut , kemungkinan besar hal itu disebabkan ukuran
            postur tubuh yang kecil dan kurangnya olahraga. Saran terbaik yang bisa kami berikan adalah tingkatkan
            aktifitas anda sehingga akan menaikkan tingkatan resapan kalori yang dapat masuk ke dalam tubuh anda.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- ABOUT US SECTION ()
    ================================================== -->
  <section class="team-sec" id="team">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="heading text-md-center text-xs-center">
            <h2>TEAM<small> Take a closer look into our amazing team. We won’t bite.</small></h2>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-box">
            <div class="team-lbox-img wow fadeInDown delay-06s"><a href="#"></a>
              <img src="assets/img/men.png" alt="">
            </div>
            <br>
            <h3 class="wow fadeInDown delay-06s">M. Wildan Mubarok</h3>


          </div>
        </div>
        <div class="col-md-4">
          <div class="team-box">
            <div class="team-lbox-img wow fadeInDown delay-06s"><a href="#"></a>
              <img src="assets/img/men.png" alt="">
            </div>
            <br>
            <h3 class="wow fadeInDown delay-06s">David Apriyanto</h3>


          </div>
        </div>
        <div class="col-md-4">
          <div class="team-box">
            <div class="team-lbox-img wow fadeInDown delay-06s"><a href="#"></a>
              <img src="assets/img/men.png" alt="">
            </div>
            <br>
            <h3 class="wow fadeInDown delay-06s">Rio Erfian</h3>


          </div>
        </div>
      </div>
    </div>

  </section>




  <!-- FOOTER SECTION ()
    ================================================== -->

  <footer class="footer">
    <div class="container">
      <div class="footer-logo"><a href="#"><img src="assets/img/footer-logo.png" alt=""></a></div>
      <span class="copyright">&copy; 2019. All Rights Reserved</span>
      <div class="credits">
        Designed by <a href="#team">I-DEV TEAM</a>
      </div>
    </div>
  </footer>







  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/scrollPosStyler.js"></script>
  <script src="assets/js/swiper.min.js"></script>
  <script src="assets/js/isotope.min.js"></script>
  <script src="assets/js/nivo-lightbox.min.js"></script>
  <script src="assets/js/wow.min.js"></script>
  <script src="assets/js/core.js"></script>


  <script>
    wow = new WOW({
      animateClass: 'animated',
      offset: 100
    });
    wow.init();
  </script>



</body>

</html>